<div class="container-fluid mt-4">
    <div class="card text-center">
        <div class="card-header text-right">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/add">Add</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of users">
                        <td>#</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.contact }}</td>
                        <td>
                            <button type="button" class="btn btn-success mx-2" [routerLink]="[ '/edit', item.contact]">Edit</button>
                            <button type="button" class="btn btn-danger" (click)="confirm(item.contact)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
</div>

